<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/temp/src/temp/GettingAFileList.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="temp.GettingAFileList"/>
<stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="temp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="test1.jpg test2.jpg test3.jpg test4.jpg test5.jpg"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="temp"/>
</launchConfiguration>
